@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc; /* Slate-50 */
  --foreground: #0f172a; /* Slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #020617; /* Slate-950 */
  --foreground: #f8fafc; /* Slate-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 14px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  /* Using neutral-400 equivalent for generic visibility */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
  /* neutral-500 */
}

.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
  /* zinc-600 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #71717a;
  /* zinc-500 */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none !important;
}

.scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
